<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Task Details</title>
  </head>
  <body>
    <h1>{{ task.title }}</h1>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Created At:</strong> {{ task.created_at }}</p>
    <p>
      <strong>Status:</strong> {% if task.completed %} ✅ Completed {% else %}
      ⏳ Not Completed {% endif %}
    </p>

    <a href="{% url 'update_task' task.id %}">✏️ Edit</a>
    <a href="{% url 'delete_task' task.id %}">🗑 Delete</a>
    <br /><br />
    <a href="{% url 'index' %}">⬅ Back to Task List</a>
  </body>
</html>
